<ion-header color="light" >
  <!--<ion-navbar >-->
    <!--<button ion-button menuToggle>-->
      <!--<ion-icon name="menu"></ion-icon>-->
    <!--</button>-->


  <ion-grid >
    <ion-row>
      <ion-col width-33>
        <ion-navbar >

        </ion-navbar>
      </ion-col >
      <ion-col center text-center width-20 >
        <img src="assets/img/appicon.svg" alt="Ionic logo" style="max-width: 55px">
      </ion-col>
      <ion-col width-33 >
        <h5 style="margin-bottom: 0px" >neveshtak</h5>

      </ion-col>
      <ion-col>
        <!--<ion-icon name="ios-settings" style="float: right;padding: 20px;"></ion-icon>-->
        <ion-buttons end>
          <button color="light" ion-button icon-only (click)="presentPopover($event)">
            <ion-icon name="ios-settings"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>



    <!--<ion-buttons end>-->
      <!--<button ion-button icon-only (click)="presentFilter()">-->
        <!--<ion-icon ios="ios-options-outline" md="md-options"></ion-icon>-->
      <!--</button>-->
    <!--</ion-buttons>-->
  <!--</ion-navbar>-->

  <!--<ion-toolbar no-border-top>-->
    <!--&lt;!&ndash;<ion-searchbar color="primary"&ndash;&gt;-->
                   <!--&lt;!&ndash;[(ngModel)]="queryText"&ndash;&gt;-->
                   <!--&lt;!&ndash;(ionInput)="updateSchedule()"&ndash;&gt;-->
                   <!--&lt;!&ndash;placeholder="Search">&ndash;&gt;-->
    <!--&lt;!&ndash;</ion-searchbar>&ndash;&gt;-->
  <!--</ion-toolbar>-->
</ion-header>

<ion-content>
  <ion-segment color="dark" [(ngModel)]="segment" (ionChange)="updateSchedule(segment)">
    <ion-segment-button style="color: #000" value="Timeline">
      Timeline
    </ion-segment-button>
    <ion-segment-button style="color: #000" value="Explorer">
      Explorer
    </ion-segment-button>
    <ion-segment-button style="color: #000" value="Upload">
      Upload
    </ion-segment-button>
    <ion-segment-button style="color: #000" value="Profile">
      Profile
    </ion-segment-button>
  </ion-segment>
  <ion-list  *ngIf="shownSessions === 'Timeline'">

    <ion-toolbar>
      <!--<div padding>-->
        <ion-segment color="dark" [(ngModel)]="pet">
          <ion-segment-button color="dark" value="puppies">
            Users
          </ion-segment-button>
          <ion-segment-button style="color: #000;" value="kittens">
            Categories
          </ion-segment-button>

          <ion-segment-button style="color: #000;" value="puppies1">
            Tags
          </ion-segment-button>
        </ion-segment>
      <!--</div>-->
    </ion-toolbar>

    <div [ngSwitch]="pet">
      <ion-list *ngSwitchCase="'puppies1'">
        <ion-item>
          <ion-thumbnail item-left>
            <img src="img/speakers/iguana.jpg">
          </ion-thumbnail>
          <h2>majid azad</h2>
        </ion-item>
        ...
      </ion-list>
      <ion-list *ngSwitchCase="'puppies'">
        <ion-item>
          <ion-thumbnail item-left>
            <img src="assets/img/speakers/majid.jpg">
          </ion-thumbnail>
          <ion-col width-100><h3 style="padding: 0px"><b>cat1 > cat2 > cat3 > ...</b></h3></ion-col>
          <ion-col width-100><h4 style="padding: 0px"><b>Username</b></h4></ion-col>
          <ion-col width-100><h6 style="padding: 0px"><span style="color: #ddd">1 hour ago</span></h6></ion-col>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col center text-center>
              <img src="assets/img/speakers/iguana.jpg" alt="Ionic logo" center >
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col width-20 center text-center >

                <ion-icon name="ios-heart"></ion-icon>
                <br>110
              </ion-col>
            <ion-col width-20 center text-center>

              <ion-icon name="ios-thumbs-up"></ion-icon>
              <br>20
            </ion-col>
            <ion-col width-20 center text-center>

              <ion-icon name="ios-thumbs-down"></ion-icon>
              <br>2
            </ion-col>
            <ion-col width-20 center text-center>

              <ion-icon name="ios-chatbubbles"></ion-icon>
              <br>2
            </ion-col>
            <ion-col width-20 center text-center>

              <ion-icon name="ios-paper-plane"></ion-icon>
              <br>0
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-list>
      <ion-list *ngSwitchCase="'kittens'" >
        <ion-grid *ngIf="subCat === 'hide'">
          <ion-item >
            <ion-thumbnail item-left>
              <img src="assets/img/speakers/cheetah.jpg">
            </ion-thumbnail>
            <ion-row>
              <ion-col width-80 (click)="subCategory('show', 'cat1','Category 1')">
                <h2>Category 1</h2>
                <h6 style="font-size: 12px ; color:#ddd; font-weight: bold">Updated 3 Hours ago by apz</h6>
              </ion-col>
              <ion-col width-20>
                <ion-badge color="dark">24</ion-badge>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-left>
              <img src="assets/img/speakers/elephant.jpg">
            </ion-thumbnail>
            <ion-row>
              <ion-col width-80 (click)="subCategory('show', 'cat2','Category 2')">
                <h2>Category 2</h2>
                <h6 style="font-size: 12px ; color:#ddd; font-weight: bold">Updated 10 Hours ago by mgs</h6>
              </ion-col>
              <ion-col width-20>
                <ion-badge color="dark">56</ion-badge>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-left>
              <img src="assets/img/speakers/giraffe.jpg">
            </ion-thumbnail>
            <ion-row>
              <ion-col width-80 (click)="subCategory('show', 'cat3','Category 3')">
                <h2>Category 3</h2>
                <h6 style="font-size: 12px ; color:#ddd; font-weight: bold">Updated 11 Hours ago by srh</h6>
              </ion-col>
              <ion-col width-20>
                <ion-badge color="dark">18</ion-badge>
              </ion-col>
            </ion-row>
          </ion-item>
          <ion-item>
            <ion-thumbnail item-left>
              <img src="assets/img/speakers/puppy.jpg">
            </ion-thumbnail>
            <ion-row>
              <ion-col width-80 (click)="subCategory('show', 'cat4','Category 4')">
                <h2>Category 4</h2>
                <h6 style="font-size: 12px ; color:#ddd; font-weight: bold">Updated Yesterday by ama</h6>
              </ion-col>
              <ion-col width-20>
                <ion-badge color="dark">67</ion-badge>
              </ion-col>
            </ion-row>
          </ion-item>
        </ion-grid>
    </ion-list>
      <ion-list *ngIf="subCat === 'show'">
        <ion-grid>
          <ion-row style="background-color: #ddd">
            <ion-col width-33 (click)="subCategory('hide', '')">
              <ion-icon name="ios-arrow-back"></ion-icon>
            </ion-col>
            <ion-col width-33 center text-center>{{titleCat}}</ion-col>
            <ion-col width-33></ion-col>
          </ion-row>

        </ion-grid>
        <ion-item *ngFor='let value of selectedCat'>
          <ion-thumbnail item-left>
            <img src="{{value['image']}}">
          </ion-thumbnail>
          <ion-row>
            <ion-col width-80 >
              <h2>{{value.title}}</h2>
              <h6 style="font-size: 12px ; color:#ddd; font-weight: bold">{{value['description']}}</h6>
            </ion-col>
            <ion-col width-20>
              <ion-badge color="dark">{{value['count']}}</ion-badge>
            </ion-col>
          </ion-row>
        </ion-item>
        <!--<ion-item>-->
            <!--<ion-thumbnail item-left>-->
              <!--<img src="assets/img/speakers/steve.jpg">-->
            <!--</ion-thumbnail>-->
            <!--<h2>Steve Golabshekar</h2>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
          <!--<ion-thumbnail item-left>-->
            <!--<img src="assets/img/speakers/ray.jpg">-->
          <!--</ion-thumbnail>-->
          <!--<h2>Ray Hossayni</h2>-->
        <!--</ion-item>-->
        <!--<ion-item>-->
          <!--<ion-thumbnail item-left>-->
            <!--<img src="assets/img/speakers/majid.jpg">-->
          <!--</ion-thumbnail>-->
          <!--<h2>Martin Azad</h2>-->
        <!--</ion-item>-->
      </ion-list>

    </div>

  </ion-list>

  <ion-list *ngIf="shownSessions === 'Explorer'">
    Explorer
  </ion-list>

  <ion-list *ngIf="shownSessions === 'Upload'">
    Upload
  </ion-list>

  <ion-list *ngIf="shownSessions === 'Profile'">
    Profile
  </ion-list>


</ion-content>
